<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <%- include("./css.ejs") %>
</head>
<body id="new-page-body">
    <div id="new-body">
        <h1>New Pokemon</h1>
        <form action="/pokemons" method="post" id="newform">
            <fieldset id="newpokemon">
                <legend>Add a pokemon to the Pokedex</legend>
                    <label for="name">Name: </label>
                    <input type="text" name="name" class="new-input">
                <input type="submit" value="Create Pokemon" class="new-input"/>
            </fieldset>
        </form>
    </div>
    
</body>
</html>